[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/hxajk/glfw
    branch = build
[submodule "dependencies/cglm"]
	path = dependencies/cglm
	url = https://github.com/hxajk/cglm
	branch = build
